<header>
  <h1>Simple To-do List</h1>
</header>

<section>
  <form method="post" action=".">
    <input type="text" name="todo" placeholder="I need to..."/>
  </form>
</section>

<section>
  <h3>Things Left To Do:</h3>
  {{#tasks}}
  <ul>
    <li>
      {{.}}
    </li>
  </ul>
  {{/tasks}}

</section>

<section class="finished">
  <h3>Finished Stuff!</h3>
  {{#finished}}
    <ul>
      <li>
        {{.}}
      </li>
    </ul>
  {{/finished}}
</section>
